-f https://download.pytorch.org/whl/torch_stable.html
streamlit
pandas
numpy
SpeechRecognition
bokeh
streamlit_bokeh_events
gtts
spacy
torch==1.5.0+cpu
torchtext
vaderSentiment
pyttsx3
playsound
eyed3
