-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1+cpu
streamlit
pandas
numpy
SpeechRecognition
bokeh
streamlit_bokeh_events
gtts
spacy
torchtext
vaderSentiment
pyttsx3
playsound
eyed3
pipwin
PyAudio
