streamlit
pandas
numpy
SpeechRecognition
bokeh
streamlit_bokeh_events
gtts
spacy
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.2.0+cpu
vaderSentiment
torchtext
pyttsx3
playsound
eyed3
